
.icon-star-half-alt:before { content: '\e800'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
.icon-bell-alt:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-star-half:before { content: '\e807'; } /* '' */
.icon-upload-cloud:before { content: '\e808'; } /* '' */
.icon-download-cloud:before { content: '\e809'; } /* '' */
.icon-upload:before { content: '\e80a'; } /* '' */
.icon-download:before { content: '\e80b'; } /* '' */
.icon-mail-alt:before { content: '\e80c'; } /* '' */
.icon-mail:before { content: '\e80d'; } /* '' */
.icon-search:before { content: '\e80e'; } /* '' */
.icon-export-alt:before { content: '\e80f'; } /* '' */
.icon-export:before { content: '\e810'; } /* '' */
.icon-reply-all:before { content: '\e811'; } /* '' */
.icon-reply:before { content: '\e812'; } /* '' */
.icon-forward:before { content: '\e813'; } /* '' */
.icon-comment:before { content: '\e814'; } /* '' */
.icon-chat:before { content: '\e815'; } /* '' */
.icon-comment-empty:before { content: '\e816'; } /* '' */
.icon-chat-empty:before { content: '\e817'; } /* '' */
.icon-bell-off:before { content: '\e818'; } /* '' */
.icon-bell-off-empty:before { content: '\e819'; } /* '' */
.icon-attention:before { content: '\e81a'; } /* '' */
.icon-attention-circled:before { content: '\e81b'; } /* '' */
.icon-folder-open:before { content: '\e81c'; } /* '' */
.icon-folder:before { content: '\e81d'; } /* '' */
.icon-file-code:before { content: '\e81e'; } /* '' */
.icon-file-pdf:before { content: '\e81f'; } /* '' */
.icon-doc-inv:before { content: '\e820'; } /* '' */
.icon-doc-text-inv:before { content: '\e821'; } /* '' */
.icon-doc-text:before { content: '\e822'; } /* '' */
.icon-docs:before { content: '\e823'; } /* '' */
.icon-doc:before { content: '\e824'; } /* '' */
.icon-trash-empty:before { content: '\e825'; } /* '' */
.icon-trash:before { content: '\e826'; } /* '' */
.icon-calendar:before { content: '\e827'; } /* '' */
.icon-wrench:before { content: '\e828'; } /* '' */
.icon-cog-alt:before { content: '\e829'; } /* '' */
.icon-cog:before { content: '\e82a'; } /* '' */
.icon-menu:before { content: '\e82b'; } /* '' */
.icon-fax:before { content: '\e82c'; } /* '' */
.icon-folder-empty:before { content: '\e82d'; } /* '' */
.icon-folder-open-empty:before { content: '\e82e'; } /* '' */
.icon-box:before { content: '\e82f'; } /* '' */
.icon-cloud:before { content: '\e830'; } /* '' */
.icon-globe:before { content: '\e831'; } /* '' */
.icon-font:before { content: '\e832'; } /* '' */
.icon-bold:before { content: '\e833'; } /* '' */
.icon-italic:before { content: '\e834'; } /* '' */
.icon-header:before { content: '\e835'; } /* '' */
.icon-paragraph:before { content: '\e836'; } /* '' */
.icon-text-height:before { content: '\e837'; } /* '' */
.icon-text-width:before { content: '\e838'; } /* '' */
.icon-align-left:before { content: '\e839'; } /* '' */
.icon-align-center:before { content: '\e83a'; } /* '' */
.icon-align-right:before { content: '\e83b'; } /* '' */
.icon-align-justify:before { content: '\e83c'; } /* '' */
.icon-list:before { content: '\e83d'; } /* '' */
.icon-indent-left:before { content: '\e83e'; } /* '' */
.icon-indent-right:before { content: '\e83f'; } /* '' */
.icon-list-bullet:before { content: '\e840'; } /* '' */
.icon-list-numbered:before { content: '\e841'; } /* '' */
.icon-suitcase:before { content: '\e842'; } /* '' */
.icon-briefcase:before { content: '\e843'; } /* '' */
.icon-paste:before { content: '\e844'; } /* '' */
.icon-chart-bar:before { content: '\e845'; } /* '' */
.icon-chart-area:before { content: '\e846'; } /* '' */
.icon-chart-pie:before { content: '\e847'; } /* '' */
.icon-chart-line:before { content: '\e848'; } /* '' */
.icon-floppy:before { content: '\e849'; } /* '' */
.icon-binoculars:before { content: '\e84a'; } /* '' */
.icon-comment-1:before { content: '\e84b'; } /* '' */
.icon-users:before { content: '\e84c'; } /* '' */
.icon-user:before { content: '\e84d'; } /* '' */
.icon-user-add:before { content: '\e84e'; } /* '' */
.icon-upload-cloud-1:before { content: '\e84f'; } /* '' */
.icon-upload-1:before { content: '\e850'; } /* '' */
.icon-download-1:before { content: '\e851'; } /* '' */
.icon-folder-1:before { content: '\e852'; } /* '' */
.icon-archive:before { content: '\e853'; } /* '' */
.icon-box-1:before { content: '\e854'; } /* '' */
.icon-suitcase-1:before { content: '\e855'; } /* '' */
.icon-briefcase-1:before { content: '\e856'; } /* '' */
.icon-floppy-1:before { content: '\e857'; } /* '' */
.icon-upload-outline:before { content: '\e858'; } /* '' */
.icon-upload-2:before { content: '\e859'; } /* '' */
.icon-download-2:before { content: '\e85a'; } /* '' */
.icon-download-outline:before { content: '\e85b'; } /* '' */
.icon-upload-cloud-outline:before { content: '\e85c'; } /* '' */
.icon-upload-cloud-2:before { content: '\e85d'; } /* '' */
.icon-reply-outline:before { content: '\e85e'; } /* '' */
.icon-reply-1:before { content: '\e85f'; } /* '' */
.icon-forward-outline:before { content: '\e860'; } /* '' */
.icon-forward-1:before { content: '\e861'; } /* '' */
.icon-cog-1:before { content: '\e862'; } /* '' */
.icon-wrench-outline:before { content: '\e863'; } /* '' */
.icon-wrench-1:before { content: '\e864'; } /* '' */
.icon-upload-cloud-3:before { content: '\e865'; } /* '' */