body{
    margin-top: 2%;
    margin-right: 5%;
    margin-left: 5%;

    background-color: #646464;
}

.align-right {
    float: right;
}

.align-left {
    float: left;
}

.book-reader{
    overflow: auto;
    background-color: #646464;
}

.dark-background{
    background-color: #646464;
}

.library-background-container{
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
}


.extra-space-left{
    padding-right: 5px;
}

.extra-space-left{
    padding-left: 5px;
}

.library-background{
    background-color: #aa5231;
}

.header-background{
    background-image:url("/img/header.jpg");
    min-height: 139px;
}

.arrowsButton{
    visibility: hidden;
    position: absolute;
}
.menuReaderPopUp{
    position: absolute;
}

.menuReaderPopUp.hide{
    visibility: hidden;
}

.menuReaderPopUp.show{
    visibility: visible;
}
.row.format-row{
    margin-top: 5px;
    margin-bottom: 5px;
}

.footer-style{
    overflow: auto;

    border-bottom-right-radius: 20px;
    border-bottom-left-radius:  20px;
    -moz-border-bottom-right-radius: 20px;
    -moz-border-bottom-left-radius:  20px;
    -webkit-border-bottom-right-radius: 20px;
    -webkit-border-bottom-left-radius:  20px;
    -o-border-bottom-right-radius: 20px;
    -o-border-bottom-left-radius:  20px;
    -ms-border-bottom-right-radius: 20px;
    -ms-border-bottom-left-radius:  20px;

    margin-bottom: 2%;
}

.lastMenuItem.sxSide{
    margin-left: 10px;
}

.lastMenuItem.dxSide{
    margin-right: 10px;
}

.separator {
    border: solid black 1px;
}

.editor{
    min-height: 100px;

    padding: 5px;
    border: solid black 1px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.bookmark-enabled{
    color: brown;
}


.animate-if {
}

.animate-if.ng-enter, .animate-if.ng-leave {
    -webkit-transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
    transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 0.5s;
}

.animate-if.ng-enter,
.animate-if.ng-leave.ng-leave-active {
    opacity:0;
}

.animate-if.ng-leave,
.animate-if.ng-enter.ng-enter-active {
    opacity:1;
}

.filed-error-container{
    background-color: rgba(0, 0, 0, 0.27);
    margin-right: 2px;
    margin-left: 2px;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
}

.field-error{
    color: red;
}

.welcome-container{
    margin-right: 5%;
    margin-left: 5%;

    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;
    z-index: 1000;
}

.toolbox{
    background-color: #aeaeae;
    z-index: 0;
}

.feedBackPanel{
    height: 300px;
    overflow: auto;
}

.bookReaderNearToolBox{
    font-size:20px;
    position: fixed;
    right: 4%;
}

.bookReaderNearToolBox .row{
    padding-top: 10px;
    padding-bottom: 10px;
}

.tool-bar {
}

.tool-bar .items ul {
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -o-border-radius: 5px;
    -ms-border-radius: 5px;

    border: solid black 1px;
    margin-right: 5px;
    background-color: rgba(171, 171, 171, 0.24);
}

.tool-bar .active{
    background-color: rgba(30, 144, 255, 0.24) !important;
    border-bottom: solid dodgerblue 4px !important;
}
.tool-bar .tool-bar-footer{
    margin-top: 2px;
    height: 3px;
    background-color: rgba(63, 63, 63, 0.89);
}
.tool-bar .items ul:hover{
    background-color: rgba(160, 187, 213, 0.42);
}

.tool-bar .items:last-child{
    margin-right: auto;
}

.tool-bar .glyphicon {
    font-size: x-large;
}

.tool-bar .text {
    font-size: large;
}

.tool-bar ul li a {
    padding-left: 8px;
    padding-right: 8px;
}

.hand-cursor{

}

.hand-cursor:hover{
    cursor: pointer;
    cursor: hand;
}
