<div xmlns:th="http://www.w3.org/1999/xhtml">
    <ul th:fragment="pageSpecificMenuOptions" class="nav navbar-nav" ng-controller="bookListToolBoxController">
        <li>
            <form class="navbar-form navbar-left form-inline" role="search">
                <div class="form-group">
                    <div class="input-group">
                        <input ng-model="bookFilterSearchCriteria.bookName" type="text" class="form-control" th:placeholder="#{adminBookList.searchBookForm.bookName.placeholder}" placeholder="Search a book in your list"/>
                        <div class="input-group-addon"><span class="glyphicon glyphicon-search"></span></div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="checkbox">
                        <label>
                            <input ng-model="bookFilterSearchCriteria.onlyNotPublishd" type="checkbox" class="form-control" th:text="#{adminBookList.searchBookForm.onlyNotPublishd.label}" />
                        </label>
                    </div>
                </div>
            </form>
        </li>
    </ul>

    <ol th:fragment="breadcrumb" class="breadcrumb">
        <li><a href="#" th:inline="text" th:href="@{/index}"><span class="glyphicon glyphicon-home"></span> [[#{glyphicon-home.label}]]</a></li>
        <li th:inline="text"><span class="glyphicon glyphicon-book"/> [[#{glyphicon-book.label}]]</li>
    </ol>

    <div th:fragment="content">
        <div data-region="half" class="container-fluid library-background">
            <div class="row">
                <div class="col-sm-12" ng-controller="bookListController">
                    <admin-book-list messages="messages" books="bookList" filter-if-published="filterIfPublished" book-name-in-list-filter="bookNameFilterCriteria" tags="metadata"/>
                </div>
            </div>
        </div>
    </div>
</div>



