<table id="feedbackScore" class="table">
    <tbody>
        <tr>
            <td> <i data-score="1" ng-click="setScore($event)" class="icon-star-empty"/> </td>
            <td> <i data-score="2" ng-click="setScore($event)" class="icon-star-empty"/> </td>
            <td> <i data-score="3" ng-click="setScore($event)" class="icon-star-empty"/> </td>
            <td> <i data-score="4" ng-click="setScore($event)" class="icon-star-empty"/> </td>
            <td> <i data-score="5" ng-click="setScore($event)" class="icon-star-empty"/> </td>
        </tr>
    </tbody>
</table>