
.icon-star-half-alt:before { content: '\e800'; } /* '' */
.icon-book-open:before { content: '\e801'; } /* '' */
.icon-bell-alt:before { content: '\e802'; } /* '' */
.icon-bell:before { content: '\e803'; } /* '' */
.icon-book:before { content: '\e804'; } /* '' */
.icon-star:before { content: '\e805'; } /* '' */
.icon-star-empty:before { content: '\e806'; } /* '' */
.icon-star-half:before { content: '\e807'; } /* '' */