<div xmlns:th="http://www.w3.org/1999/xhtml">
    <div th:fragment="pageSpecificMenuOptions"></div>

    <ol th:fragment="breadcrumb" class="breadcrumb">
        <li><a href="#" th:inline="text" th:href="@{/index}"><span class="glyphicon glyphicon-home"></span> [[#{glyphicon-home.label}]]</a></li>
        <li th:inline="text"><span class="glyphicon glyphicon-search"></span> [[#{glyphicon-search.label}]]</li>
    </ol>

    <div th:fragment="content">
        <div data-region="half" class="container-fluid library-background" ng-controller="searchBookPageController">
            <div id="searchFeedBackModalDialog" class="modal fade">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                            <h4 class="modal-title" th:text="#{searchFeedBackModalDialog.title.label}">Title</h4>
                        </div>
                        <div class="modal-body">
                            <p th:text="#{searchFeedBackModalDialog.body.label}">Body</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal" th:text="#{searchFeedBackModalDialog.closeButton.label}">Close</button>
                        </div>
                    </div><!-- /.modal-content -->
                </div><!-- /.modal-dialog -->
            </div><!-- /.modal -->

            <div class="panel panel-default">
                <div class="panel-heading" th:inline="text"><span class="glyphicon glyphicon-search"></span> [[#{bookSearch.panelHeading}]]</div>
                <div class="panel-body">
                    <div class="row">
                        <form class="form-horizontal">
                            <div class="row format-row">
                                <label for="bookName" class="col-sm-2 control-label" th:text="#{bookSearch.bookName}">Book Name</label>
                                <div class="col-sm-8" data-toggle="tooltip" data-placement="top" th:title="#{help.localHelp.bookName}">
                                    <input type="text" ng-model="searchBookCriteria.bookName" class="form-control" id="bookName" placeholder="Book Name" th:placeholder="#{bookSearch.bookName}"/>
                                </div>
                                <div class="col-sm-2">
                                    <span class="pull-left glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="top" th:title="#{help.localHelp.bookName}"></span>
                                </div>
                            </div>
                            <div class="row format-row" ng-cloak="ngClock">
                                    <label for="tags" class="col-sm-2 control-label" th:text="#{bookSearch.tags}">Search Tags</label>
                                    <div class="col-sm-8" data-toggle="tooltip" data-placement="top" th:title="#{help.localHelp.tags}">
                                        <select id="tags" ng-model="searchBookCriteria.tags" class="form-control"
                                                multiple="multiple" th:placeholder="#{bookSearch.tags.placeholder}" placeholder="choose your hint tag">
                                            <option ng-repeat="searchBookTag in searchBookTags">{{searchBookTag}}</option>
                                        </select>
                                    </div>
                                    <div class="col-sm-2">
                                        <span class="pull-left glyphicon glyphicon-question-sign" data-toggle="tooltip" data-placement="rigth" th:title="#{help.localHelp.tags}"></span>
                                    </div>
                                </div>
                            <div class="row format-row">
                                <div class="col-sm-offset-2 col-sm-12">
                                    <button class="btn btn-default" ng-click="searchBooks(searchBookCriteria)" th:inline="text"><span class="glyphicon glyphicon-search"></span> [[#{bookSearch.bookSearch}]]</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
            <book-list read-user-feed-back="true" is-removable="false" messages="messages" book-list="bookList" search-in-list="searchInList" feedback-section-setting="feedbackSectionSetting"/>
        </div>
    </div>
</div>



